@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Rangers>

@{
    ViewData["Title"] = "DeleteRanger";
}
@*<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Ranger</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/styleIndex.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="row">
    <form asp-action="ShowResult">
        <div class="form-group">
            <label for="Searched" class="control-label"></label>
            <input name="Searched" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" style="background: rgb(206, 116, 116); color: #fff" class="button"/>
        </div>
    </form>
</div>
<h2>List of all rangers</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RangerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RangerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                 <a asp-action="ProcessDeleteRanger" style="background: rgb(206, 116, 116); color: #fff" asp-route-id="@item.RangerID">Delete Ranger</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="bck_button">
    <input type="button" value="Back To Admin Screen" style="background: rgb(206, 116, 116); color: #fff" onclick="location.href='@Url.Action("Index", "Admin")'"/>
</div>
</body>
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Ranger</title>
    <link rel="stylesheet" href="~/css/DeleteRanger.css" asp-append-version="true">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>
<body>
    
    
    <div class="wrapper">
        <i class='bx bx-user-minus'></i>
        
        <form asp-action="ShowResult">
            <div style="margin-bottom: 15px;">
                <a asp-action="Index" type="button" class="bck_button" style="text-decoration: none;"> Back to Home</a>
            </div>
            <h1>Delete Ranger</h1>
            
            <div class="search-bar"  style="margin:auto;max-width:300px;">
                <input type="text" placeholder="Search.." name="Searched">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div style="overflow-x:auto;">

                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RangerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <a asp-action="ProcessDeleteRanger" asp-route-id="@item.RangerID" class="Delete_button">Delete Ranger</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>

        
    </div>
</body>
</html>