@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Notification>

@{
    ViewData["Title"] = "Notifications";
}
@*<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/styleIndex.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
    audio {
     width: 100px;
     height: 30px;
    }
    </style>
</head>
<body>
<div class="bck_button">
    <input type="button" value="Logout" style="background: rgb(206, 116, 116); color: #fff" onclick="location.href='@Url.Action("ProcessLogout", "Login")'"/>
</div>
<h2>The last 10 Notifications that came in</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sound_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Probability)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                <audio controls>
                    <source src="@(item.Sound)" type="audio/wav"/>
                    Your browser does not support the audio element.
                </audio>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sound_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Probability)
            </td>
            <td>
                <a asp-action="Details" style="background: rgb(206, 116, 116); color: #fff" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Notification.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Notifications</title>

</head>
<body>
    <table class="content-table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Sound</th>
                <th>Sound Type</th>
                <th>Certainty</th>
                <th>
                    <i class='bx bx-refresh' onClick="window.location.reload()"> </i>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <audio controls>
                            <source src="@(item.Sound)" type="audio/wav" />
                            Your browser does not support the audio element.
                        </audio>
                        @*<audio controls>
                            <source src="https://static.175.249.108.65.clients.your-server.de/15564-2-0-0.wav">
                            Your browser does not support the audio element.
                        </audio>*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sound_Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Probability)%
                    </td>
                    <td>
                        <a asp-action="Details" class="Detail_button"  asp-route-id="@item.ID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
